
/*Flex pour le Qr-code */
.qrcode-container {
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
}

.qrcode {
    width: 60px; /* Taille discrète */
    height: auto; /* Conserve le ratio */
    border: 1px solid #bdc3c7; /* Encadré subtil */
    padding: 5px;
    border-radius: 5px; /* Coins arrondis */
}

/* Styles de base pour petits écrans */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Empile les sections */
        width: 95%; /* Utilise toute la largeur */
        margin: 10px auto;
    }

    .left, .right {
        width: 100%; /* Utilise 100% de la largeur de l'écran */
        padding: 15px; /* Moins de padding */
        box-shadow: none; /* Évite l'ombre */
    }

    .contact-info p, .section ul li, .right .section p {
        font-size: 0.9em; /* Texte légèrement réduit */
    }

    /* Optimisation de l'image QR sur mobile */
    .qrcode {
        width: 50px;
        margin: 10px auto;
        display: block; /* Centre le QR code */
    }

    h1 {
        font-size: 20px; /* Ajustement du titre */
    }
}
